@import "tailwindcss";

@keyframes fade-in {
  from {opacity: 0; transform: scale(0.95);}
  to {opacity: 1; transform: scale(1);}
}

@keyframes fade-out {
  from {opacity: 1; transform: scale(1);}
  to {opacity: 0; transform: scale(0.95);}
}

@starting-style {
  dialog[open], [popover] {
    opacity: 0;
    transform: scale(0.95);
  }
}

dialog[open], [popover]:popover-open {
  animation: fade-in 0.3s ease-out forwards;
}

.fade-out-animation {
  display: block !important;
  animation: fade-out 0.3s ease-in forwards !important;
  pointer-events: none;
}