name: Create .zip files for publication

on:
  push:
    tags:
      - v*

env:
  TAG_NAME: ${{ github.ref_name }}

jobs:
  create_and_push_fx_dist_zip:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Create manifest
        run: cp manifest-firefox.json manifest.json

      - name: Create zip
        uses: thedoctor0/zip-release@0.7.6
        with:
          type: 'zip'
          filename: 'firefox-dist-${{ env.TAG_NAME }}.zip'
          exclusions: > 
            *.git* /.github/* .gitignore /images/* /offscreen/* /sounds/*
            /options/input.css /svg/arrow.svg /svg/close.svg /svg/trash.svg
            manifest-chromium.json manifest-firefox.json
            README.es.md README.md
      
      - name: Upload zip
        uses: ncipollo/release-action@v1.20.0
        with:
          artifacts: "firefox-dist-${{ env.TAG_NAME }}.zip"
          allowUpdates: true

  create_and_push_fx_code_zip:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Create manifest
        run: cp manifest-firefox.json manifest.json

      - name: Create zip
        uses: thedoctor0/zip-release@0.7.6
        with:
          type: 'zip'
          filename: 'firefox-code-${{ env.TAG_NAME }}.zip'
          exclusions: > 
            *.git* /.github/* .gitignore /offscreen/*
            /svg/arrow.svg /svg/close.svg /svg/trash.svg
            manifest-chromium.json manifest-firefox.json
      
      - name: Upload zip
        uses: ncipollo/release-action@v1.20.0
        with:
          artifacts: "firefox-code-${{ env.TAG_NAME }}.zip"
          allowUpdates: true

  create_and_push_chm_dist_zip:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Create manifest
        run: cp manifest-chromium.json manifest.json

      - name: Create zip
        uses: thedoctor0/zip-release@0.7.6
        with:
          type: 'zip'
          filename: 'chromium-dist-${{ env.TAG_NAME }}.zip'
          exclusions: > 
            *.git* /.github/* .gitignore /svg/* /sounds/*
            /images/modal.png /images/options_page.png /options/input.css
            manifest-chromium.json manifest-firefox.json
            README.es.md README.md
      
      - name: Upload zip
        uses: ncipollo/release-action@v1.20.0
        with:
          artifacts: "chromium-dist-${{ env.TAG_NAME }}.zip"
          allowUpdates: true

  create_and_push_chm_code_zip:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Create manifest
        run: cp manifest-chromium.json manifest.json

      - name: Create zip
        uses: thedoctor0/zip-release@0.7.6
        with:
          type: 'zip'
          filename: 'chromium-code-${{ env.TAG_NAME }}.zip'
          exclusions: > 
            *.git* /.github/* .gitignore
            /svg/arrow.svg /svg/close.svg /svg/trash.svg
            manifest-chromium.json manifest-firefox.json
      
      - name: Upload zip
        uses: ncipollo/release-action@v1.20.0
        with:
          artifacts: "chromium-code-${{ env.TAG_NAME }}.zip"
          allowUpdates: true